// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-dark{
  color: white;
}






/* .abcd{
  font-size: 35px;
  color: white;
  background-color: black;

} */
p{
  font-size: 15px;
}
.body{
  background-color: #efefef;
  border-style: solid;
  height: auto;
  border-width: 3px;

}
.col-sm-3{
  border-style: solid;
  border-width: 3px;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  margin-left: 30px;

}

.col{
  border-style: solid;
  border-width: 3px;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: 40px;

}
.row{

  display: flex;
  /*-ms-flex-wrap: wrap;
  display: -ms-flexbox;
  flex-wrap: wrap;
   margin-right: -15px;
  margin-left: -15px;*/
  padding: 20px;
}
.col-sm {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
}
 .col-sm-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
}
/*col-sm-3{
  border: 2px solid black;




}
.col-sm-8{
  border: 2px solid black;


}*/




.li a{
  float: left;
}
