// Place all the styles related to the subjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar-dark{
  color: white;
}
.background{
  background-image: url(background-animation-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  padding: 20px 300px 50px 300px;

}
.container1{
  // border: 1px solid black;
  padding: 25px;
  border-radius: 8px;
  background-color: white;
}
.container1_body{
  background-image: url(9459990665de142.jpg);
  background-size: cover;
  padding: 30px;

}
.white{
  color: white;
  font-size: 22px;
}
.public_index{
  padding: 100px;
  text-align: center;
}

p{
  font-size: 15px;
}
.body{
  background-color: #efefef;
  border-style: solid;
  height: auto;
  border-width: 3px;

}
.col-sm-3{
  border-style: solid;
  border-width: 3px;
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  margin-left: 30px;

}

.col{
  border-style: solid;
  border-width: 3px;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  margin-left: 40px;

}
.row{

  display: flex;
  padding: 20px;
}
.col-sm {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
}
 .col-sm-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
  border-style: solid;
  border-width: 3px;
}

.li a{
  float: left;
}
