<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="container">
   <% @subject.each do |sub| %>
   <ul class="nav justify-content-center">
     <li>
      <a><%= link_to sub.name,  public_path(sub), class: "white" %></a>
     </li>
   </ul>
   <% end %>
 </div>
</nav>
<div class="container">
  <h4><%= @page.name %></h4>
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header d-flex">
        Sections
      </div>
      <table  class="table">
        <tbody>
          <% @page.sections.each do |section| %>
            <tr>
              <td>
                <strong><%= section.name %></strong>
                <p><%= section.content %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
